.arrow {
    color: cornflowerblue; 
    font-weight: 900;
 }

 /*projects*/
  .trippercont {
   background-color: rgb(241, 241, 241);
   padding: 10px;
   margin-bottom: 10px;
  }
  
  .button {
    background-color:grey; 
    width: 50%;
    border-style: none;
    text-decoration: none  !important;
    padding: 4px;
    border-radius: 5px;
    color: aliceblue;
    margin-bottom: 10px;
  }



  .proj-section {
      margin: 20px 0;
  }
  
  .proj-title {
    font-size: 22px; 
  }
  
  .proj-desc {
    letter-spacing: .0125em;
  }
  
  .project-media {
    display: flex; 
    flex-direction: row;  
    column-gap: 4px;
    margin-top: 18px;
  }

  @media screen and (max-device-width: 736px) { 
    * {
      margin: 0;
      padding: 0;
    }
    main {
      width: 100%;
    }
    .topics {
        display: none;
    }
    ul {
      padding: 8px;
    }

}